*{
    padding: 10px;
    margin: 10px;
}

header {
    font-size: 50px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    background-color: slateblue;
}

body {
    background-color: darkslategray;
}

footer {
    background-color: steelblue;
}

table, th, td {
  border:1px solid black;
}